name: ML Continuous Integration

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  model-ci:
    runs-on: ubuntu-latest

    steps:

      - name: Checkout code
        uses: actions/checkout@v3
  
      - name: Set up Python 3.10
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Create virtual environment
        run: |
          python -m venv venv
          source venv/bin/activate  
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install pytest dvc mlflow

      - name: Configure DVC remote
        run: |
          source venv/bin/activate
          dvc remote modify origin --local auth basic
          dvc remote modify origin --local user ${{ secrets.DAGSHUB_USERNAME }}
          dvc remote modify origin --local password ${{ secrets.DAGSHUB_TOKEN }}

      - name: Pull data from DVC
        run: |
          source venv/bin/activate
          dvc pull data/raw_data.csv -v || echo "Warning: raw_data.csv not found or failed"
          dvc pull data/imb_data.csv -v || echo "Warning: imb_data.csv not found or failed"

      - name: Configure MLflow
        run: |
          export MLFLOW_TRACKING_USERNAME=${{ secrets.DAGSHUB_USERNAME }}
          export MLFLOW_TRACKING_PASSWORD=${{ secrets.DAGSHUB_TOKEN }}
          export MLFLOW_TRACKING_URI="https://dagshub.com/imrankhan59/Hate_Speech_Classification.mlflow"

      - name: Run tests
        run: |
          source venv/bin/activate
          pytest tests/ --disable-warnings -v

      - name: Log in to Docker Hub
        run: echo "${{ secrets.DOCKER_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin

      - name: Build Docker image
        run: |
          run: docker build -t ${{ secrets.DOCKER_USERNAME }}/hate-speech-api:latest .

      - name: Push Docker image to Docker Hub
        run: docker push ${{ secrets.DOCKER_USERNAME }}/hate-speech-api:latest



